<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
    <form id="container" action="/loginPostRequest" method="post">
        <p>로그인하세요!</p>
        <div id="inputbox-container">
                <input type="text" name="id_input">
                <input type="password" name="pw_input">
        </div>
        <input type="submit" name="submit" value="login">
    </form>
</body>
</html>